.window{

    background-color: rgb(0, 0, 0);
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    color: rgb(130, 130, 130);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgb(245, 245, 245,0.24);
        display: flex;
        gap: 1.5rem;
        align-items: center;
        

        .dots{
            display: flex;
            gap: 0.25rem;

            .dot{
            height: 14px;
            width: 14px;
            background-color: white;
            border-radius: 50%;
            }

            .red{
                background-color: rgb(236, 51, 51);
            }
            .yellow{
                background-color: rgb(239, 239, 83);
            }
            .green{
                background-color: rgb(96, 160, 0);
            }
        }
        .title{
            font-size: 15px;
        }
        
    }

    .main-content{
        height: 100%;
    }
    *::-webkit-scrollbar{
        width: 8px;
    }
    *::-webkit-scrollbar-thumb{
        background-color: rgb(168, 168, 168,0.4);
        border-radius: 4px;
    }
}