* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg
    }
}

.box {
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 255, 255), black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px rgba(239, 42, 42, 0.895);
    text-shadow: 0 0 0px rgb(255, 0, 0);
    color: white;
}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px rgb(243, 17, 17);
    color: rgb(243, 17, 17);
    text-shadow: 0 0 15px rgb(255, 0, 0);
}

.box img {
    width: 100%;
    margin-top: 9px;
    border-radius: 15px;
}