/* @import "tailwindcss"; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.user-card{
    height: 300px;
    width: 264px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 25px;
    position: relative;
    overflow: hidden;
}
button{
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
button:active{
    scale: 0.95;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
}
p{
    position: absolute;
    bottom: 3%;
    right: 2%;
    font-size: 15px;
}
h3{
    position: absolute;
    font-size: 17px;
    opacity: 70%;
    margin-top: 10px;
}
