:root{
    --pri:#F8F4E1;
    --sec:#381c0a;
    --tri1:#FEBA17;
    --tri2:#74512D;
}
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(/fonts/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(/fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(/fonts/AeonikTRIAL-Bold.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html, body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
nav{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}
.elem{
    background-color: #FEBA17;
    height: 400px;
    width: 256px;
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;
}
.elem:active{
    scale: 0.97;
}
.allElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 40px;
    font-size: 60px;
    display: none;
}