*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: black;    
}
main{
    position: relative;
    width: 100%;
    height: 260px;
}
.whitekeys{
    position: absolute;
    display: flex;
    height: 100%;   

}
.whitekey{
    width: 60px;
    height: 100%;
    background: white;
    border: 1px solid #857e7e;
    border-radius: 0 0 15px 0px;
    box-shadow: 0 9px #857e7e;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 600;
}
.whitekey span{
    margin-bottom: 10px;
    color: #333;
}
.blackkeys{
    position: absolute;
    top: 0;
    /* left: 0; */
    height: 60%;
    display: flex;
}
.blackkey{
    width: 30px;
    height: 100%;
    background: black;
    color: #ffffff;
    margin: 0px -8px 0px 49px;
    border-radius: 0 0 8px 0px;
    box-shadow: 0 9px #857e7e;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.blackspace{
    width: 50px;
    margin: 0px -5px 0px px;
    height: 100%;
}
h1{
    color: white;
}